<!doctype html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/assets/img/favicon.svg" type="image/svg+xml">
  <title>{% block title %}{{ article.title }} | {{ site.title }}{% endblock title %}</title>
  <meta name="description" content="{{ description }}">
  <style>{{ css | safe }}</style>
</head>
<body>
  <header>{% block header %}<a href="/">{{ site.title }}</a>{% endblock header %}</header>
  <main>{% block main %}{% endblock main %}</main>
</body>
</html>
