{% extends "base.html" %}
{% block main %}
<article>
  <h1>{{ article.title }}</h1>
  <dl class="article-meta">
    <dt>created_at</dt>
    <dd><time datetime="{{ article.created_at.datetime }}">{{ article.created_at.date }}</time></dd>
    <dt>updated_at</dt>
    <dd><time datetime="{{ article.updated_at.datetime }}">{{ article.updated_at.date }}</time></dd>
    <dt>tags</dt>
    <dd>{% for tag in article.tags %}<a href="/tags/{{ tag }}/">{{ tag }}</a>{% endfor %}</dd>
  </dl>
  {{ content | safe }}
</article>
{% endblock main %}
